{{! add your links in this format }}
<li><a href="https://vote.avernin.one" target="_blank" rel="noopener">Vote</a></li>
<li><a href="https://discord.avernin.one" target="_blank" rel="noopener">Discord</a></li>
