{{- $playerImage := resources.Get (printf "images/players/body_%s.png" .heading) }}
<h2>{{ .heading }} <span></span></h2>
<div class="player">
    <div class="avatar">
        <img src="{{ $playerImage.Permalink }}">
        <div class="medals">🥇{{ index .medals "gold" }} 🥈{{ index .medals "silver" }} 🥉{{ index .medals "bronze" }}
        </div>
    </div>
    <div class="stats_grid">
        <div class="stats_table">
            <div class="stats_table_header">PLAYERNAME</div>
            <div class="stats_table_header count">COUNT</div>
            {{- $i := 1 }}
            {{ range $k, $v := .stats }}
            {{- $even := (cond (modBool $i 2) "" " even") }}
            <div class="player_name more_space{{ $even }}">{{ T $k }}</div>
            <div class="player_count more_space{{ $even }}">{{ $v }}</div>
            {{- $i = add $i 1 }}
            {{ end }}
        </div>
    </div>
</div>