{{- range $statsTitle, $data := .Params.stats }}
{{- $s := slice }}
{{- range $k, $v := $data }}
{{- $s = $s | append $k }}
{{- end }}
{{- $s = $s | sort | collections.Reverse }}
<div class="stats_wrapper">
    <h3 id="{{- $statsTitle }}">{{- strings.FirstUpper (T $statsTitle) }}</h3>
    <div class="stats_table">
        <div class="stats_table_header">PLAYERNAME</div>
        <div class="stats_table_header count">COUNT</div>
        {{- $i := 1 }}
        {{- range $s }}
        {{- $even := (cond (modBool $i 2) "" " even") }}
        <div class="player_name{{- $even }}">
            {{- range (index $data .) }}
            <div class="entry">
                {{- $playerHead := resources.Get (printf "images/players/head_%s.png" .) }}
                <img src="{{- $playerHead.Permalink }}">
                {{- if eq (printf "%T" .) "string" }}<a href="/players/{{ strings.ToLower . }}">{{- . | truncate 24
                    }}</a>{{- end
                }}
            </div>
            {{- end }}
        </div>
        <div class="player_count{{- $even }}">
            {{- . }}
        </div>
        {{- $i = add $i 1 }}
        {{- end }}
    </div>
</div>
{{- end }}